@model Recursos_Humanos.Models.Procesos.Nomina

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="alert-danger rounded" style="padding:10px">    <p class="lead text-center text-danger">Si se siente seguro, como para eliminar el departamento, presione "Eliminar"</p></div>
<div>
    <h4>Nomina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i> Volver a la lista</a>

    </form>
</div>
