@model IEnumerable<Recursos_Humanos.Models.Procesos.Nomina>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de nominas</h1>
<hr />
<div class="form-row align-items-center">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
        <input type="text" id="search" placeholder="Buscar" class="form-control-sm" />
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Anio)
                </td>
                <td>
                    @{
                        switch (item.Mes)
                        {
                            case 1:
                                ViewData["Mes"] = "Enero";
                                break;
                            case 2:
                                ViewData["Mes"] = "Febrero";
                                break;
                            case 3:
                                ViewData["Mes"] = "Marzo";
                                break;
                            case 4:
                                ViewData["Mes"] = "Abril";
                                break;
                            case 5:
                                ViewData["Mes"] = "Mayo";
                                break;
                            case 6:
                                ViewData["Mes"] = "Junio";
                                break;
                            case 7:
                                ViewData["Mes"] = "Julio";
                                break;
                            case 8:
                                ViewData["Mes"] = "Agosto";
                                break;
                            case 9:
                                ViewData["Mes"] = "Septiembre";
                                break;
                            case 10:
                                ViewData["Mes"] = "Octubre";
                                break;
                            case 11:
                                ViewData["Mes"] = "Noviembre";
                                break;
                            case 12:
                                ViewData["Mes"] = "Diciembre";
                                break;
                            default:
                                ViewData["Mes"] = "Mes invalido";
                                break;
                        }
                    }
                    @ViewData["Mes"]
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Dia)
                </td>


                <td>
                    RD$ @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>


                <td>


                    <span><a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit fa-lg text-success" style="padding-right: 6px;"></i></a></span>


                    <span><a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-file-alt fa-lg text-secondary" style="padding-right: 6px;"></i></a></span>   


                    <span><a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-lg fa-trash-alt text-danger" style="padding-left: 3px;"></i></a></span>


                </td>


            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td><b>Total pagado</b></td>
            <td></td>
            <td></td>
            <td><b><i>RD$ @ViewData["Nomina"]</i></b></td>
        </tr>
    </tfoot>
</table>
