@model IEnumerable<Recursos_Humanos.Models.Procesos.Nomina>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de nominas</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                RD$ @Html.DisplayFor(modelItem => item.MontoTotal)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>

    <tfoot>
        <tr>
            <td><b>Total pagado</b></td>
            <td></td>
            <td></td>
            <td><b><i>RD$ @ViewData["Nomina"]</i></b></td>
        </tr>
    </tfoot>

</table>
