@model IEnumerable<Recursos_Humanos.Models.Colaboradores.Empleado>

@{
    ViewData["Title"] = "EmpleadoActivos";
}

<h1>Empleados activos</h1>
<hr />

<div class="form-row align-items-center">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
        <input type="text" id="search" placeholder="Buscar" class="form-control-sm" />
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FerchaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="search">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.CodigoDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FerchaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                Activo
            </td>
            <td>
                <span><a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit fa-lg text-success" style="padding-right: 6px;"></i></a></span>
                <span><a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-file-alt fa-lg text-secondary" style="padding-right: 6px;"></i></a></span>   
                <span><a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-lg fa-trash-alt text-danger" style="padding-left: 3px;"></i></a></span>
            </td>
        </tr>
}
    </tbody>
</table>