@model IEnumerable<Recursos_Humanos.Models.Colaboradores.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Cargos</h1>

<br />
<p>
    <a asp-action="Create" class="btn btn-outline-primary"><i class="fas fa-id-badge"></i> Nuevo cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.CodigoDepartamento)
            </td>
            <td>
                <span><a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit fa-lg text-success" style="padding-right: 6px;"></i></a></span>
                <span><a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-file-alt fa-lg text-secondary" style="padding-right: 6px;"></i></a></span>   
                <span><a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-lg fa-trash-alt text-danger" style="padding-left: 3px;"></i></a></span>
            </td>
        </tr>
}
    </tbody>
</table>
