@model IEnumerable<Recursos_Humanos.Models.Colaboradores.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h1>Departamentos</h1>
<br />
<hr />
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Nuevo departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDepartamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDepartamento)
            </td>
            <td>
                <span><a asp-action="Edit" asp-route-id="@item.Id"><img src="~/img/edit.png" /></a></span>   
                <span><a asp-action="Details" asp-route-id="@item.Id"><img src="~/img/edit-document.png" /></a></span>   
                <span><a asp-action="Delete" asp-route-id="@item.Id"><img src="~/img/rubbish-bin.png" /></a></span>
            </td>
        </tr>
}
    </tbody>
</table>
