@model IEnumerable<Recursos_Humanos.Models.Colaboradores.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de empleados</h1>
<br />

<p>
    <a asp-action="Create" class="btn btn-primary">+ Nuevo empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cod. Departamento
            </th>
            <th>
                Departamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDepartamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
