@model Recursos_Humanos.Models.Procesos.Salida

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="alert-danger rounded" style="padding:10px">    <p class="lead text-center text-danger">Si se siente seguro, como para eliminar el departamento, presione "Eliminar"</p></div>
<div>
    <h4>Salida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i> Volver a la lista</a>
    </form>
</div>
